// User variables:
$accent: #6513FF
$primary: $accent
$secondary: #F8B127
$text: #111
$gtext: #808080

$white: #fff

$divider: #E8E8E8
$grey: #ABAEB2
$lightbg: #F7F7F7

$footer: #F2F2F2

$border-bottom: 0px 1px 0px 0px $divider;
$border-bottom--primary: 0px 1px 0px 0px $accent;
$border-bottom--primary-bold: 0px 3px 0px 0px $accent;
$border-bottom--secondary: 0px 1px 0px 0px $secondary;
$border-bottom--secondary-bold: 0px 3px 0px 0px $secondary;

@mixin navbar-margin()
    margin-top: 62px
    +until($desktop)
        margin-top: 56px

.no-padding-top
    padding-top: 0 !important
.no-padding-bottom
    padding-bottom: 0 !important
.no-padding-vertical
    padding-top: 0 !important
    padding-bottom: 0 !important
.no-padding-horizontal
    padding-left: 0 !important
    padding-right: 0 !important


@mixin hover-accent()
    &:hover
        color: $accent

    

// Bootstrap compatible gutter variable => $gutter
// $grid-gutter-width: 20px
// $gutter: $grid-gutter-width
    
// // Breakpoints mixin settings (node_modules/bootstrap/scss/mixins/_breakpoints.scss)
// // Example: +media-breakpoint-down(xs) - ≥576px / +media-breakpoint-up(sm) - // ≤576px
// // Default variables: node_modules/bootstrap/scss/_variables.scss
// $grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px)
