@import libs
@import _vars
@import bulma-custom
    
.aside
    &-link
        margin-bottom: 16px
        font-size: 14px
        a
            color: $gtext
        &--active
            a
                color: $text
.aside--sticky
    position: sticky
    top: 120px

.aside--anchors
    &-link
        margin-bottom: 16px
        font-size: 12px
        a
            color: $gtext
        &--active
            a
                color: $text

