@import libs
@import _vars

$link: $primary
$text: #111

// Typography
$family-sans-serif: Manrope3, sans-serif
$body-family: $family-sans-serif
*
	font-family: $family-sans-serif

// Title
$title-family: $family-sans-serif
.title.is-1
	font-size: 60px
	+until($desktop)
		font-size: 40px
.title.is-2
	font-size: 30px
	+until($desktop)
		font-size: 22px
.title.is-3
	font-size: 20px
	+until($desktop)
		font-size: 18px
.title
	line-height: 1.5
	font-weight: 700 !important

// Link
a
	color: $link

