@import vars
@import libs
@import bulma-custom
    
// Footer
.footer
	padding-top: 0 !important
	padding-bottom: 0 !important
	font-weight: 600
	text-decoration: none
	background: $footer !important
	&_top
		padding-top: 80px
		padding-bottom: 80px
		font-size: 14px
		+mobile
			padding-top: 60px
			padding-bottom: 60px
	&_bottom
		font-size: 12px
		line-height: 12px
		padding-bottom: 40px
		+mobile
			text-align: center
		&-container
			width: 100%
			display: flex
			justify-content: space-between
			+mobile
				flex-direction: column
				justify-content: flex-start
				align-items: center
		&-rside
			+mobile
				margin-top: 16px
			a
				text-decoration: underline
				margin-left: 20px
				+mobile
					margin-left: 10px
	&-logo
		width: auto
		height: 40px
	&-links
		display: flex
		flex-direction: column				
		+mobile
			margin-top: 16px
		a:not(:last-child)
			margin-bottom: 16px			
			+mobile
				margin-bottom: 4px	
	&-contacts
		display: flex
		flex-direction: column			
		+mobile
			margin-top: 16px
		&_phone
			margin-top: 8px
		&_social
			margin-top: 40px
			svg
				margin-right: 20px
				width: 30px
				height: auto
	svg
		fill: $text
		&:hover
			fill: $primary
	a
		color: $text
		&:hover
			color: $primary