@import vars
@import fonts
@import libs

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-size: 16px
	// min-width: 320px
	position: relative
	line-height: 1.7
	font-family: 'Manrope3', sans-serif
	// overflow-x: hidden
	color: $text
	height: 100vh
	
.img-responsive
	display: block
	max-width: 100%
	height: auto


*
	transition: all .15s
	+until($desktop)
		transition: all .1s ease

// Button
button
	cursor: pointer
.btn
	height: 48px
	padding: 12px 24px 12px 16px
	display: inline-flex
	align-items: center
	border-radius: 0
	color: $text
	font-weight: $weight-bold
	border: none
	font-size: 14px
	line-height: 14px
	background-color: $white
	&-icon
		margin-right: 16px
		svg
			fill: $text !important
	&-link
		color: $text
		text-decoration: underline
		line-height: 16px
		&:hover
			color: $primary
		&--big
			font-size: 20px
			line-height: 20px


.btn--underline
	&:hover		
		color: $white
		svg
			fill: $white !important
	&_primary
		box-shadow: $border-bottom--primary-bold
		&:hover
			background-color: $primary
	&_secondary
		box-shadow: $border-bottom--secondary-bold
		&:hover
			background-color: $secondary
		
.btn-control
	width: 40px
	height: 40px
	background: $white
	border: 1px solid $divider
	border-radius: 100px
	display: flex
	align-items: center
	justify-content: center
	&--icon
		background: none !important
		border: none !important
	svg
		fill: $text
	&:hover
		background: $primary
		border: none
		svg
			fill: $white

// Glide js styles
.bullet
	width: 24px
	height: 24px
	display: flex
	align-items: center
	justify-content: center
	background-color: transparent
	border: none
	&-dot
		width: 8px
		height: 8px
		background-color: $grey
		border-radius: 20px

.glide__bullets
	display: flex
	align-items: center
	.glide__bullet
		&--active
			.bullet-dot
				width: 10px
				height: 10px
				background-color: $text

// Dibider
.divider
	height: 1px
	width: 100%
	background: $divider
	

// Accordion
.ac
	padding: 16px 24px
	margin-top: 1px !important
	border: none !important
	box-shadow: $border-bottom
	margin: 0
	*
		font-family: $family-sans-serif
	&-q
		font-size: 16px !important
		font-weight: bold
		padding: 0 !important
		padding-right: 32px !important
		&::after
			content: url(../img/icons/Icon/accordion/accordion-expand.svg) !important
			width: 16px !important
			height: 16px
			right: 0 !important
		&--icon
			position: absolute
			right: 0
			top: 0
			width: 16px
			height: 16px
			&__default
				fill: $text
				display: block
			&__active
				fill: $primary
				display: none
	*
		font-family: Manrope3, sans-serif !important
		&:focus
			outline: none !important
	&-a
		p
			font-size: 16px !important
			padding: 24px 0 16px 0 !important
.ac.is-active
	box-shadow: $border-bottom--primary
	.ac-q
		&::after			
			content: url(../img/icons/Icon/accordion/accordion-close.svg) !important



// Custom Sass / Remove before use


.promo-title
    margin-top: 20vh

.promo-title
	+until($tablet)
    	margin-top: 15%



// Homepage
.top_promo_banner	
	@include navbar-margin()
	align-items: center
	justify-content: space-between
	font-weight: 500 !important
	&--top
		font-size: 14px
		line-height: 14px
		margin-bottom: 10px
	&--bottom
		font-size: 12px
		line-height: 12px
	a
		color: $white !important
		text-decoration: underline
		&:hover
			color: $white !important
	&-controls
		position: absolute
		svg
			fill: $white !important
		&--left
			left: 10%
			z-index: 99
		&--right
			right: 10%
	.glide__slide
		padding-top: 10px
		padding-bottom: 10px
		display: flex
		flex-direction: column

	


.home-hero
	margin-top: 30px
	margin-bottom: 60px
	+until($desktop)
		margin-top: 0
		margin-bottom: 0
	&_text
		height: 560px
		justify-content: center
		align-items: center
		background: url(../img/_src/home-hero.jpg) center
		background-size: cover
		+until($desktop)
			height: 400px

.brands-slider
	&_desktop
		&-container
			justify-content: space-between
		&-item
			&:hover
				cursor: pointer
				svg
					fill: $secondary
			figure
				height: 60px
				display: flex
				align-items: center
				justify-content: center
			svg
				fill: $text
		&-controls
			width: 40px
			// position: absolute !important
			// top: 0 !important
			// height: 100% !important
			// width: 100% !important
			display: flex !important
			align-items: center !important
			justify-content: center !important
		.glide__track
			width: calc(100% - 80px - 20px)
	&_mobile
		padding: 1rem 0 1rem 0 !important
				

.features
	font-size: 14px
	cursor: default
	+desktop
		font-size: 14px
	+widescreen
		font-size: 11px
	+fullhd
		font-size: 14px
	&_widescreen
		padding-top: 70px !important
		padding-bottom: 60px !important
		+until($widescreen)
			display: none !important
		svg
			margin-right: 10px
			min-width: 52px !important
			width: 52px
			fill: $grey
	&_desktop
		padding-top: 60px !important
		padding-bottom: 20px !important
		+until($tablet)
			display: none !important
		svg
			margin-right: 10px
			min-width: 52px !important
			width: 52px
			fill: $grey
			+until($fullhd)
				min-width: 18% !important
				width: 18%
				+until($widescreen)
					min-width: 14% !important
					width: 14%
		&-item
			width: 100%
			padding-right: 5%
			display: flex
			align-items: center
			&:hover
				svg
					fill: $secondary
	&_mobile
		padding-top: 30px !important
		padding-bottom: 30px !important
		box-shadow: $border-bottom
		svg
			width: 46px
			fill: $grey
		&-item
			&--top
				padding-bottom: 8px !important
			&--bottom
				padding-top: 0 !important
				padding-bottom: 0 !important
				margin-bottom: 24px !important
		&-bullets
			padding-top: 0 !important


.help-slider
	&_rside
		justify-content: flex-end
	&_title
		margin-bottom: 24px
	&-controls
		display: flex
		align-items: center
		.glide__arrow--left
			margin-right: 20px
	&-item
		min-height: 348px
		width: 300px
		cursor: pointer
		svg
			width: 120px
			height: auto
			fill: $text
		&:hover
			background-color: $primary
			.title
				color: $white !important
			svg
				fill: $white !important
		+mobile
			min-height: 300px
			width: 238px
		background: $lightbg
		flex-direction: column
		align-items: center
		&--top
			width: 100%
			padding-top: 50px
			padding-bottom: 50px
			align-items: center
			justify-content: center
			+mobile
				padding-top: 40px
				padding-bottom: 40px			
		&--bottom
			padding: 20px 30px
			+mobile
				padding: 0 30px 40px 30px
	.glide__slide
		max-width: 300px
		min-width: 300px
		+mobile
			max-width: 400px !important
			min-width: 100px !important
			width: 238px !important


.home-about
	img
		width: 100%


// Instafeed
.instafeed
	a
		width: 100% !important
	img
		min-width: 124px
		width: 100%
	img
		padding: 10px





// Помощь покупателю
.help-center
	@include navbar-margin()
	padding-top: 60px
	&_top
		h1
			margin-bottom: 16px
		&-container
			padding-bottom: 60px
			width: 100%
			display: flex
			flex-wrap: wrap
			border-bottom: $divider 1px solid
			&--item
				cursor: pointer
				border: 1px $divider solid
				+mobile
					flex-basis: 100%
				+tablet
					flex-basis: 50%
				+widescreen
					flex-basis: 33.3%
				&:hover
					svg, h3
						fill: $primary
						color: $primary
				&-icon
					padding: 50px 30px
					+touch
						padding: 20px 16px
					svg
						fill: $grey
						width: 60px
						height: auto
				&-text
					padding: 0 30px 30px 30px
					+touch
						padding: 0 16px 32px 16px
					h3
						margin-bottom: 8px !important
						+mobile
							font-size: 16px !important
					p
						font-size: 14px
						color: $gtext
	&_bottom
		padding-top: 60px
		padding-bottom: 32px
		&-item
			display: flex
			flex-direction: column
			align-items: center
			+mobile				
				flex-direction: row
				align-items: flex-start
				margin-bottom: 16px
			&-icon
				width: 80px
				height: auto
				+mobile
					min-width: 60px
					width: 60px
					margin-right: 24px
			&-text
				margin-top: 24px
				color: $gtext
				+mobile
					margin-top: 0
					font-size: 14px
				h3
					margin-bottom: 16px !important
					+mobile
						font-size: 14px !important
						margin-bottom: 8px !important
				&--social
					margin-top: 16px
					a
						svg
							width: 40px
							height: auto
						&:hover
							svg
								fill: $primary
					&-first
						margin-right: 16px !important
		a
			color: $gtext
			&:hover
				color: $primary
		svg		
			fill: $text


// О нас
.about
	&-hero
		height: 520px
		display: flex
		align-items: center
		justify-content: center
		background: url(../img/_src/about-hero.jpg) center
		background-size: cover
		background-repeat: no-repeat
		margin-bottom: 60px
		+mobile
			height: 300px
			margin-bottom: 40px
	.subtitle
		line-height: 1.7
		+mobile
			font-size: 16px !important
	&-s
		&1
			padding-top: 0 !important
			padding-bottom: 40px !important
		&2
			margin-bottom: 80px
			&-boxes
				margin-top: 120px
				+mobile
					margin-top: 0
					max-width: 80%
			h2
				margin-top: calc(80px - 24px)
				+mobile
					margin-top: calc(60px - 24px)
		&3
			margin-top: 120px
			margin-bottom: 120px
			+mobile
				margin-bottom: 40px
		&4
			margin-bottom: 40px
		&5
			margin-bottom: 80px
			video
				width: 85%
			h2
				margin-top: 50px
			&-mobile
				margin-top: 60px


.contacts
	h1
		padding-bottom: 24px
		border-bottom: 1px $divider solid
		margin-bottom: 60px
		+mobile
			padding-bottom: 8px
			margin-bottom: 40px !important
	&-info
		font-size: 18px
		+mobile
			font-size: 16px
		a
			color: $text
			&:hover
				color: $primary
		&--left
			color: $gtext
			margin-bottom: -16px
			+mobile
				font-weight: bold
		&--right
			margin-bottom: calc(48px - 12px)
			+mobile
				margin-bottom: 16px
		&-social
			margin-top: 8px
			a
				margin-right: 20px
				&:hover
					svg
						fill: $primary
			svg
				fill: $text
				width: 30px
				height: auto


.help
	&-header
		background: $lightbg
		@include navbar-margin()
		&__backbtn
			text-decoration: underline 
			color: $text
			font-size: 14px
			+desktop
				padding-bottom: 0
				font-size: 16px
			+hover-accent
	&-content
		+until($desktop)
		padding-top: 30px
		p
			margin-bottom: 24px
		ul
			list-style: square
			padding-left: 24px
			margin-bottom: 24px
			li:not(:last-child)
				margin-bottom: 16px
		a
			font-weight: bold
		.divider
			margin: 48px 0
		.notification
			padding: 30px !important
			font-size: 14px
			border-radius: 0 !important
			background-color: $lightbg
			+until($desktop)
				padding: 16px !important
				margin-bottom: 16px
			ul
				margin-bottom: 0 !important
		&__item
			position: relative
		&__anchor
			position: absolute
			top: -100px

.help-content.sizes
	.notification
		margin-bottom: 0
		h3
			margin-bottom: 8px
			font-size: 16px
		p
			margin-bottom: 0
	img
		margin-top: -24px
		margin-bottom: 24px