@import libs
@import _vars
@import bulma-custom

.navbar
    height: 62px
    padding: 0 5px 0 20px
    font-size: 12px
    box-shadow: $border-bottom
    z-index: 20
    +until($desktop)
        height: 56px
        padding-right: 0
    .navbar-brand
        height: 100%
        align-items: center
        +until($desktop)
            display: flex
            justify-content: space-between
            align-items: center
        &_logo
            width: 118px
            height: 100%
            background-image: url(../img/logo/logo-color_dark.svg)
            background-repeat: no-repeat
            background-position: center
            +until($desktop)
                margin-left: -10px
            &:hover
                background-image: url(../img/logo/logo-color_brand.svg)
                box-shadow: none !important
        &_mobile
            height: 100%
            justify-content: flex-end
            align-items: center
        .navbar-burger
            height: 100%
    .navbar-menu
        padding-left: 45px
    .navbar-item
        padding-left: 15px
        padding-right: 15px
        &:hover
            color: $primary
            background-color: transparent
            box-shadow: 0px 1px 0px 0px $primary
            & svg
                fill: $primary
        svg
            margin-right: 4px
        &_mobile
            width: 56px
            justify-content: center
            align-items: center
    svg
        fill: $text
        &:hover
            fill: $accent

.menu-mobile
    // display: none
    top: -560px
    position: fixed
    flex-direction: column
    align-items: stretch
    z-index: 10
    width: 100%
    background-color: $white
    box-shadow: $border-bottom--primary-bold
    font-weight: 700
    line-height: 12px
    font-size: 12px
    text-transform: uppercase
    transition: all 0.4s ease-in-out
    &_item
        padding-left: 24px
        padding-right: 24px
        display: flex
        flex-direction: column
        align-items: flex-start
        box-shadow: $border-bottom
        &-icon
            margin-right: 16px
        &-center
            padding-top: 12px !important
            padding-bottom: 12px !important
            a
                padding-top: 12px
                padding-bottom: 12px
        &-text
            background-color: $lightbg
            text-align: center
            border-bottom: 1px $divider solid
            a
                display: block !important
                padding: 20px 0
        &-bottom
            font-size: 14px
            line-height: 14px
            font-weight: 500
            padding-top: 24px
            padding-bottom: 24px
            span
                color: $gtext !important
            &-social
                margin-top: 16px
                display: inline-flex
                a
                    margin-right: 10px
                svg
                    width: 30px
                    height: auto
        &--pd16
            padding-top: 16px
            padding-bottom: 16px
        &--pd24
            padding-top: 24px
            padding-bottom: 24px
        
    svg
        fill: $text
    a
        width: 100%
        height: 100%
        color: $text !important
        display: flex
        align-items: center
        &:hover
            color: $primary !important
            svg
                fill: $primary !important

