@import vars
@import fonts
@import libs
@import bulma-custom
    
.promopage
	background: url(../img/_src/promo-bg_desktop.jpg) center
	background-size: cover
	background-repeat: no-repeat
	+until($desktop)
		background: url(../img/_src/promo-bg_mobile.jpg) center
		background-size: cover  

        
.promopage__nav
        position: absolute
        width: 100%
        align-items: center
        justify-content: space-between
        padding: 0 24px
        top: 20px
        +desktop
            top: 40px
        +tablet
            padding: 0 60px
        svg
            fill: $white
        a
            color: $white
        &-link
            display: flex
            align-items: center
            span
                margin-left: 8px
                line-height: 14px
        &-logo
            height: 80px
            width: auto
            +until($desktop)
                height: 40px

.promopage__btns
    .btn
        +until($tablet)
            width: 228px

.promopage-social
    position: absolute
    bottom: 40px
    width: 100%
    align-items: center
    justify-content: center
    +until($desktop)
        bottom: 30px
    svg
        fill: $white
        width: 36px
        height: auto
        margin: 0 10px
        &:hover
            fill: $secondary